.hero {
  text-align: center;
  padding: 190px 10px;
  background: linear-gradient(135deg, #1e2a38, #00c4ff);
  color: white;
  border-radius: 3px;
  margin: auto;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.hero button {
  padding: 14px 30px;
  background: white;
  color: #1e2a38;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

.hero button:hover {
  background: #00c4ff;
  color: white;
}
