body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e2a38;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00c4ff;
}
.nav-links a.active {
  border-bottom: 2px solid #00c4ff;
}   
/*footer*/
.footer {
  background: #1e2a38;
  color: white;
  text-align: center;
  padding: 8px;
  margin-top:0px;
}
